body{
	line-height:1.6;
	font-size:18px;
	color:#444;
}

h1,h2,h3{line-height:1.2}

body {
	background-color: #EEEEEE;
	max-width: 820px;
	min-width: 599px;
	margin: 0 auto;
}
@media (max-width: 800px) { 
	max-width: 2000px;
}


#header{
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	margin: 2em;
}

@media only screen and (max-width: 652px) {
  #header {
	  justify-content: space-around;
  }
}
#contact{
	width: 60%;
	display: flex;
	flex-direction: column;
}
.image-cropper {
	width: 186px;
	height: 186px;
	overflow: hidden;
	border-radius: 50%;
	border: solid;
	margin-left: 1em;
}

#picture{
	position: relative;
	top: -15px;
	transform: scale(0.9) translate(-10px,-5px);
}

.job{
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	transition: height 2s;
	margin: 1em;
	border-color: rgba(0, 0, 0, .5);
}
.job .job_header{
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom-style: dashed;
	font-size:1.4em;
}
.job .job_title{

	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: center;
}
.job .job_dates{
	font-weight: bold;
}
.job .job_header_logos{
	display: flex;
	flex-direction: column;
}
.job .job_content{
	display: flex;
	align-items: center;
}

.job .job_description {
	transform-origin: top;
	transition: transform 0.26s ease;
	display: flow-root;
}

.job .job_long_description {
	transform-origin: top;
	transform: scaleY(0);
	height: 0;
	transition: transform 0.26s ease;
	display: flow-root;
}

.cube {
	position: relative;
	width:75%;
	padding: 10px;
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.cube .job_long_description {
	transform: scaleY(0);
	height: 0;
	transition: transform 0s;
}

.cube .job_description {
	transform: scaleY(1);
	height: auto;
	transition: transform 0.26s ease;
}

.cube.active .job_long_description {
	height: auto;
	transform: scaleY(1);
	transition: transform 0.26s ease;
}

.cube.active .job_description {
	transform: scaleY(0);
	height: 0;
	transition: transform 0s;
}

.job .job_languages{
	padding-top: 1em;
	font-weight: bold;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.read_more_icon{
	height: 2em;
	weigth: 2em;
	float: right;
}

.logo{
	border: none;
	max-width: 120px;
	max-height: 60px;
}

a {
	text-decoration: none;
}
/* * { outline: solid 0.25rem hsla(210, 50%, 50%, 1); } */

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}
