<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Yves-Stan Le Cornec</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
  <!-- <link rel="stylesheet" href="latex.css"> -->
  <link rel="stylesheet" href="styles.css">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->

  <meta name="viewport" content="width=600, initial-scale=1">
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
